.dataGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35rem;
    width: 80%;
    margin: 3rem;
    background-color: #597081;
}

.even {
    background-color: #88A0A8;
}

.MuiDataGrid-cellContent {
    font-size: 1rem;
    font-weight: bold;
}