.dataGrid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 35rem;
    width: 80%;
    margin: 3rem;
    gap: 1rem;   
}

.top-table-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.even {
    background-color: #88A0A8;
}

.MuiDataGrid-cellContent {
    font-size: 1rem;
    font-weight: bold;
}

.MuiDataGrid-root {
    background-color: #597081;
}

.textField{
    max-width: 75%;
}